.button{
    display: inline;
}
.btn {
    background-color: #013870;    
    border: none;
    color: white;
    padding: 1.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn:hover{
    background-color: #ffffff;
    color: #013870;
  }
  @media (max-width: 640px) {
    .button{
      display: inline-block;
      margin: auto;
      text-align: center;
      align-self: center;
    }
    
  } 
 
  