.search-input {
    width: 40vw;
    border: 2px solid #4CAF50;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  .search-input[type=text]:focus {
    width: 100%;
  }